name: Deploy API Livraria para Homelab

on:
  push:
    branches: [ "master" ]

jobs:
  build-and-deploy:
    name: Compilar e Fazer Deploy
    
    # Usa o Runner que eu hospedei no Homelab
    runs-on: self-hosted

    steps:
    - name: Checkout do código
      uses: actions/checkout@v4

    - name: Restaurar dependências .NET
      run: dotnet restore "./API Livraria/API Livraria.csproj"

    - name: Publicar aplicação .NET
      run: dotnet publish "./API Livraria/API Livraria.csproj" --configuration Release --output ./publish

    - name: Fazer Deploy no Servidor
      run: |
        echo "--> Parando o serviço da API Livraria..."
        sudo systemctl stop apilivraria.service
        
        echo "--> Limpando o diretório de deploy antigo..."
        sudo rm -rf /var/www/apilivraria/*
        
        echo "--> Copiando os novos arquivos da API..."
        sudo cp -a ./publish/. /var/www/apilivraria/
        
        echo "--> Iniciando o serviço da API Livraria..."
        sudo systemctl start apilivraria.service
        
        echo "--> Deploy da API Livraria concluído com sucesso!"
